body {
    max-width: 800px;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

@media (min-width: 640px){
    html{
        background-color: #eaf6ff;
    }

    h1 {
        font-size: 2.5rem;
    }
}

@media (max-width: 500px){
    h1 {
        font-size: 1.5rem;
    }
}

#fixed-size-grid-items ul{
    list-style: none;
    padding-left: 0;
    display: flex;
    flex-wrap: wrap;
}

#fixed-size-grid-items aside {
    width: 170px;
    margin: 10px;
    font-size: 0.8rem;
}

/* second grid */


#stretchable-grid-items ul{
    list-style: none;
    padding-left: 0;
    display: flex;
    flex-wrap: wrap;
    margin: -10px 1rem -10px 1rem;
}

#stretchable-grid-items li{
    width: 100%;
}

@media (min-width: 480px){
    #stretchable-grid-items li {
        width: 50%;
    }
}

@media (min-width: 640px){
    #stretchable-grid-items li {
        width: 25%;
    }
}

#stretchable-grid-items aside{
    margin: 10px;
}