html {
    color: grey;
    /* font-family: Arial, Helvetica, sans-serif; */
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 12pt;
}

body {
    margin: 10%;
}

h1 {
    color: black;
    letter-spacing: -0.02em;
    text-transform: capitalize;
    text-indent: -1em;
}

p {
    font-size: 13pt;
    line-height: 1.4;
}

sup {
    font-size: 0.6rem;
}

dfn {
    font-weight: bold;
    color: red;
    text-transform: lowercase;
}

small {
    font-size: smaller;
}

aside {
    text-align: center;
}

cite {
    text-align: right;
    display: block;
}

article { 
    margin: 6rem 0;
}

section {
    margin: 2.5em 0;
}

a {
    text-decoration: none;
}

code {
    color: steelblue;
}