html {
    font-family: "Archivo Narrow", sans-serif;
    font-size: 18px;
    line-height: 1.4;
}

h1, h2, h3, h4, p {
    margin-top: 0;
}

h1 {
    font-size: 80px;
    line-height: 1;
    margin-bottom: 16px;
    color: white;
}

h2 {
    font-size: 30px;
    line-height: 1;
    color: white;
}

h3{
    text-align: center;
    line-height: 1;
    font-size: 40px;
    margin-bottom: 38px;
}

h4 {
    font-size: 20px;
    margin-bottom: 6px;
}

p {
    margin-bottom: 16px;
}

header {
    background-color: rgba(255,0,0,.5);
    /* background-image: url(../img/sunset.jpeg); */
    background-size: cover;
    background-position: center 40%;
    text-align: center;
    padding: 166px 0 162px 0;
}

div.column {
    width: 960px;
    margin: auto;
}

/* header > div,
section > div,
footer > div {
    width: 960px;
    margin: auto;
} */

section {
    padding: 48px 0 39px 0;
    /* padding: 50px 0 40px 0; */

}

section.intro {
    background-color: rgba(255, 0,255,.4);
    /* background-color: #efeeee; */
}

.beach {
    float: right;
    border: 1px solid;
    margin-left: 38px;
    margin-bottom: 38px;
    width: 400px;
    height: 300px;
}

.sledding {
    width: 200px;
    height: 150px;
}

section.photo-grid {
    /* background-color: rgba(0,0,255,.3); */
    margin-bottom: 28px;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 24px;
    margin-top: 8px;
}

li {
    display: grid;
    grid-template-columns: 200px 1fr;
}

li > div {
    padding-left: 12px;
    padding-right: 22px;
}

.last-section{
    padding-left: 120px;
    padding-right: 121px;
    font-size: 25px;
    text-align: center;
    line-height: 1.45;
    line-height: 1.45;
    letter-spacing: .4px;
    margin-bottom: 62px;
}

section.final {
    background-color: rgba(255,0,0,.3);
    margin-top: -2px;
}

footer {
    background-color: rgba(129,0,206,.3);
}

.copyright-text{
    padding-top: 40px;
    padding-bottom: 40px;
}